<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {{> stylesheets}}
  <title>{{title}}</title>
</head>
<body>
  <main>
    <ul>
      {{#data.entries}}
        <li>
          <div>
            <p data-markdown>{{fields.title}}</p>
            <a href="{{fields.slug}}/">Read more...</a>
          </div>
        </li>
      {{/data.entries}}
    </ul>
  </main>
</body>
</html>
