<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {{> stylesheets}}
  <title>{{title}}</title>
</head>
<body>
  <main>
    <p>
      <a href="/{{_parentFileName }}">Go back</a>
    </p>
    <article>
      <div>{{data.fields.description}}</div>
    </article>
  </main>
</body>
</html>
