<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {{> stylesheets}}
  <script src="https://unpkg.com/contentful@3.8.0/browser-dist/contentful.min.js"></script>
  <title>{{title}}</title>
</head>
<body>
  <nav class="nav has-shadow">
    <div class="nav-left">
      <h1 class="nav-item is-brand">
        Preview
      </h1>
    </div>
    <div class="nav-right nav-menu">
      <span class="nav-item">
        <a class="button" >
          <span class="icon">
            <i class="fa fa-edit"></i>
          </span>
          <span>edit</span>
        </a>
        <a class="button is-primary" href="#">
          <span class="icon">
            <i class="fa fa-cloud-upload"></i>
          </span>
          <span>Publish</span>
        </a>
      </span>
    </div>
  </nav>
</body>
</html>
